// app global css in SCSS form
.col {
    display: grid;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    grid-template-columns: auto auto;
    gap: 30px 30px;
    padding: 50px 50px;
}

@media(max-width: 600px) {
    .col {
        display: column !important;
        grid-template-columns: auto;
    }
}

body {
    background-color: #000000;
    color: white
}

.downloadBtn {
    background-color: white;
    color: #000000
}

// textos
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
h1,
h2 {
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 15px !important;
}

.bodyText {
    text-align: center;
    font-size: 15px;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: normal !important;
    text-transform: uppercase;
}